@tailwind base;
@tailwind components;
@tailwind utilities;

.fraunces {
  @apply font-fraunces font-black;
}

.nav {
  @apply fixed inset-0 m-auto flex h-max -translate-y-[100vh] flex-col gap-10 bg-white py-11 text-sm text-nt-dark-grayish-blue lg:static lg:m-0 lg:translate-y-0 lg:flex-row lg:justify-start lg:bg-transparent lg:p-0 lg:text-white;
  width: calc(100% - 3rem);
  @apply lg:w-auto;
  transition: transform 300ms ease-in;
}

.nav[data-visible="true"] {
  transform: translateY(0%);
}

.feature img {
  @apply h-full md:object-cover;
}

.text-container {
  @apply m-auto flex flex-col gap-10 py-[4.5rem] px-6 lg:p-40 lg:text-left;
}

.text-container > h2 {
  @apply text-3xl text-nt-dark-blue;
}

.text-container > p {
  @apply text-nt-dark-grayish-blue;
}

.text-absolute {
  @apply absolute bottom-16 right-0 left-0 flex flex-col gap-9 px-6 lg:px-40;
}

.text-absolute > h2 {
  @apply text-3xl;
}

.testimonial-wrapper {
  @apply flex flex-col items-center px-6 text-nt-dark-blue md:col-span-2 lg:col-span-1;
}

.testimonial-wrapper > :nth-child(2) {
  @apply my-10;
}

.testimonial-wrapper > :last-child {
  @apply mt-4 text-sm text-nt-dark-grayish-blue;
}

.name {
  @apply font-fraunces font-black;
}

.testimonial-img {
  @apply w-20 rounded-full;
}

.showcase img {
  @apply w-full;
}

.footer > * {
  @apply max-w-sm;
}
